/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  font-family: var(--main-font-family, "Inter"), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  background-image: var(--background-pattern);
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: var(--accent-font-family, "PressStart2P"), fantasy;
  line-height: normal;
  text-transform: uppercase;
}

.header__page {
  margin-block-end: 100px;
}

.header__title {
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 120px;
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.card {
  margin-inline: auto;
  border: 2px solid var(--text-color-primary);
  background: var(--background-primary);
  max-inline-size: 696px;
}

.card__header {
  border-block-end: 2px solid var(--text-color-primary);
  padding: 5px 10px;
}

.card__title {
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght" var(--headings-font-weight, 700);
}

.card__list {
  display: grid;
  gap: 50px;
  background-color: var(--background-primary);
}

.card__info {
  display: grid;
  border-block-start: 2px solid var(--text-color-primary);
  gap: 27px;
  padding: 25px 25px 25px 25px;
  line-height: calc(21 / 18);
  font-size: 18px;
}

.card__footer {
  display: flex;
  justify-content: end;
  gap: 4px;
  padding: 0 24px 23px 30px;
  align-items: stretch;
}

.card__img {
  display: block;
  object-fit: cover;
  aspect-ratio: 1/1;
  object-position: center;
  inline-size: 100%;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color-primary);
}

.card__icon-button .like-icon.is-liked {
  fill: var(--color-accent-like, red); /* или другой переменной */
  transition: fill 0.3s ease;
}

/* Ховер на уже лайкнутом сердечке */
.card__icon-button:hover .like-icon.is-liked {
  opacity: 0.8;
  transform: scale(1.15);
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--text-color-primary);
  padding: 10px 10px;
  font-family: var(--accent-font-family, "PressStart2P"), fantasy;
  font-size: 14px;
  background: var(--background-primary);
  color: var(--text-color-primary);
  cursor: pointer;
  transition: color 0.3s ease;
  appearance: none;
  overflow: hidden;
  width: 130px;
  text-align: center;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--color-base-black);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:hover {
  color: var(--text-color-inverse);
}

.button__text,
.button__icon {
  transition: color 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color, #000000);
}

.card__wrapper {
  position: relative;
  padding: 0;
  margin: 0;
}

.card__label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--text-color-primary);
  font-family: var(--accent-font-family, "PressStart2P"), fantasy;
  font-size: 14px;
  line-height: normal;
  text-shadow: 0 0 1px var(--background-primary);
  inset-inline-end: 11px;
  inset-block-start: 24px;
  mix-blend-mode: hard-light;
}

.button__save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}

.button__icon {
  inline-size: 22px;
  block-size: 22px;
}

.modal {
  border: 2px solid var(--text-color-primary);
  padding: 30px 40px;
  color: var(--text-color-primary);
  font-family: var(--accent-font-family, "PressStart2P"), fantasy;
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--background-primary);
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background: var(--text-color-primary);
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  inline-size: 100%;
  text-transform: uppercase;
}

.button__save::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--text-color-primary);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.main {
  display: grid;
  justify-items: center;
  gap: 49px;
  padding-block-end: 100px;
}

@media (width > 375px) {
  .card__list {
    display: grid;
    gap: 50px;
  }

  .header__title {
    margin-block-start: clamp(6.5rem, 6.8rem + 1.5023vw, 8.5rem);
  }

  .header__subtitle {
    margin-block-end: 126px;
  }

  .card__label {
    inset-inline-end: 25px;
  }

  .card__info {
    padding-top: 29px;
  }

  .button__save {
    width: auto;
  }

  .modal {
    max-inline-size: 353px;
  }
}

@media (width <= 375px) {
  .button__save {
    flex-direction: column;
    width: auto;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }
}
@supports (
  (-webkit-text-stroke: 1px var(--background-primary)) or
    (text-stroke: 1px var(--background-primary))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-primary);
    text-stroke: 1px var(--background-primary);
  }
}
